body{
    padding: 100px;

}

.App{
    width: 100%;
    display: grid;
    place-items: center;
    
   
}
.box{
    
    position: relative;
    text-align: center;
    width: 250px;
    box-shadow: rgb(228, 225, 225) 0px 1px 4px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    
}

button{
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 15px;


}

.add{
    background-color: lightgreen;
    margin: 2px;
    
}

.subtract{
    background-color: lightcoral;
    margin: 2px;
}